<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui-1.10.3.custom.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script data-main="javascripts/app" src="javascripts/lib/require.js"></script>
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="form-group">
 	<label for="searchInput">Search for ticker</label>
 	<div class="input-group">
 	<input id="searchInput" class="form-control" type="search" placeholder="write tickername here">
 	<span class="input-group-btn">
        <button id="btnSearch" class="btn btn-default" type="button">Search</button>
      </span>
      </div>
 	</div>

 	<table class="table table-striped">
    <thead>
        <tr><th>Symbol</th><th>Name</th><th>Exchange</th></tr>
    </thead>
    <tbody data-bind="foreach: tickers">
        <tr>
            <td data-bind="text: symbol"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: exchDisp"></td>
        </tr>
    </tbody>
</table>


  </body>
</html>