<!doctype html>
<html>
    <head>
        <title>YahooFinance App</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <link rel="stylesheet" href="js/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="js/lib/durandal/css/durandal.css" />        
        <link rel='stylesheet' href='js/lib/jquery/css/jquery-ui-1.10.3.custom.min.css' />
        <link rel="stylesheet" href="css/shell.css" /> 
    </head>
    <body>
        <div id="applicationHost">          
        </div>
        <script src="js/lib/require/require.js" data-main="main"></script>
    </body>
</html>